html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
   
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f0f2f5;
}

.container main {
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
    margin-top: 20px;
    margin-bottom: 20px;
}